.add-to-cart-btn {
    background-color: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
    background-color: #ff4f81;
}

#plus {
    font-weight: lighter;
}

/* Ajoutez ici d'autres styles spécifiques à la section "Shop" si nécessaire */
