{% extends "base.html" %}

{% block content %}
<main>
    <div class="banner text-center bg-secondary p-5 mb-3">
        <h1>Blog</h1>
    </div>

    <div class="containe-fluid px-5">
        <div class="row">
            <!-- Blog entries-->
            <div class="col-lg-8">
                <!-- Featured blog post -->
                {% if not search_term and not selected_categories %}
                    <div id="lastPost" class="card mb-4 rounded-5">
                        {% if latest_post %}
                            <a href="{% url 'post_detail' latest_post.slug %}">
                                <img class="card-img-top rounded-5" src="{{ latest_post.image.url }}" alt="{{ latest_post.title }}" />
                            </a>
                            <div class="card-body">
                                <div class="row">
                                    <div class="small col-6 text-muted">{{ latest_post.published_date|time }}</div>
                                    <div class="small col-6 text-muted text-end">{{ latest_post.published_date|date }}</div>
                                </div>
                                <h2 class="card-title">{{ latest_post.title }}</h2>
                                <p class="card-text">{{ latest_post.content|slice:":100" }}...</p>
                                <a class="btn btn-primary rounded-5 border-0 pe-4 btn-rm" href="{% url 'post_detail' latest_post.slug %}">
                                    Read more 
                                    <span class="flech mx-1">→</span>
                                </a>
                            </div>
                        </div>
                    {% else %}
                        <p>No latest post available.</p>
                    {% endif %}
                {% endif %}

                <!-- Nested row for non-featured blog posts -->
                <div class="row">
                    {% for post in other_posts %}
                        <div class="col-lg-6">
                            <!-- Blog post -->
                            <div class="card mb-4 rounded-5">
                                <a href="{% url 'post_detail' post.slug %}">
                                    <img class="card-img-top rounded-5" src="{{ post.image.url }}" alt="{{ post.title }}" />
                                </a>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="small col-6 text-muted">{{ post.published_date|time }}</div>
                                        <div class="small col-6 text-muted text-end">{{ post.published_date|date }}</div>
                                    </div>
                                    <h2 class="card-title h4">{{ post.title }}</h2>
                                    <p class="card-text">{{ post.content|slice:":100" }}...</p>
                                    <a class="btn btn-primary rounded-5 border-0 pe-4 btn-rm" href="{% url 'post_detail' post.slug %}">
                                        Read more 
                                        <span class="flech mx-1">→</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="pagination">
                    <ul class="pagination justify-content-center">
                        {% if posts.has_previous %}
                            <li class="page-item">
                                <a class="page-link rounded-5" href="?page=1">&laquo; Premier</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-5" href="?page={{ posts.previous_page_number }}">Précédent</a>
                            </li>
                        {% endif %}

                        <li class="page-item active">
                            <span class="page-link rounded-5">
                                Page {{ posts.number }} sur {{ posts.paginator.num_pages }}.
                            </span>
                        </li>

                        {% if posts.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ posts.next_page_number }}">Suivant</a>
                            </li>
                            <li class="page-item">
                                <a class="page-link rounded-5" href="?page={{ posts.paginator.num_pages }}">Dernier &raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>

            <!-- Side widgets-->
            <div class="col-lg-4">
                <!-- Search widget -->
                <div class="card mb-4 rounded-5">
                    <div class="card-header">Search</div>
                    <div class="card-body">
                        <form id="search-form" method="get" action="{% url 'post_list' %}">
                            <div class="input-group">
                                <input class="form-control rounded-5" type="text" name="search" placeholder="Enter search term..."
                                    aria-label="Enter search term..." aria-describedby="button-search" value="{{ search_term }}">
                                <button class="btn btn-primary rounded-5" id="button-search" type="submit">Go!</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Categories widget -->
                <div class="card mb-4 rounded-5">
                    <div class="card-header">Categories</div>
                    <div class="card-body">
                        <form id="category-form" method="get" action="{% url 'post_list' %}">
                            <div class="d-flex">
                                <div class="col-6">
                                    {% for category in categories_left %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="category" value="{{ category.id }}"
                                                id="category{{ category.id }}" {% if category.id in selected_categories %}checked{% endif %}>
                                            <label class="form-check-label" for="category{{ category.id }}">
                                                {{ category.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="col-6">
                                    {% for category in categories_right %}
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" name="category" value="{{ category.id }}"
                                                id="category{{ category.id }}" {% if category.id in selected_categories %}checked{% endif %}>
                                            <label class="form-check-label" for="category{{ category.id }}">
                                                {{ category.name }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary rounded-5">Appliquer les filtres</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
