{% extends 'base.html' %}
{% load static %}

{% block title %}| Adresse{% endblock %}

{% block meta %}
<meta name="robots" content="index, nofollow">
<meta name="description" content="Gérez vos adresses de livraison sur Royal Computer. Ajoutez, modifiez ou supprimez facilement vos adresses.">

<!-- Carte Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RoyalComputerStore">
<meta name="twitter:title" content="Gestion des adresses">
<meta name="twitter:description" content="Gérez vos adresses de livraison sur Royal Computer. Ajoutez, modifiez ou supprimez facilement vos adresses.">
<meta name="twitter:image" content="{% static 'images/rc-logo.png' %}">

<!-- Facebook (Open Graph) -->
<meta property="og:title" content="Gestion des adresses">
<meta property="og:description" content="Gérez vos adresses de livraison sur Royal Computer. Ajoutez, modifiez ou supprimez facilement vos adresses.">
<meta property="og:image" content="{% static 'images/rc-logo.png' %}">
{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 my-5">
      <div class="card rounded-5 p-5">
        <div class="text-center">
          {% if address_id %}
          <h2>Modifier l'adresse</h2>
          {% else %}
          <h2>Ajouter une adresse</h2>
          {% endif %}
          <div class="underline mx-auto mb-5"></div>
        </div>

        <form method="post" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="d-flex flex-row align-items-center mb-4">
            <label for="{{ form.address.id_for_label }}">
              <i class="fas fa-map-marker-alt fa-lg me-3 fa-fw"></i>
            </label>
            <div class="form-outline flex-fill mb-0">
              <input
                type="{{ form.address.field.widget.input_type }}"
                name="{{ form.address.html_name }}"
                id="{{ form.address.id_for_label }}"
                class="form-control shadow-none rounded-5"
                value="{% if address_id %}{{ form.address.value }}{% endif %}"
                placeholder="Adresse"
                required
              />
              <div class="invalid-feedback">
                Veuillez fournir une adresse valide.
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <label for="{{ form.address.id_for_label }}">
              <i class="fas fa-city fa-lg me-3 fa-fw"></i>
            </label>

            <div class="form-outline flex-fill mb-0">
              <input
                type="{{ form.city.field.widget.input_type }}"
                name="{{ form.city.html_name }}"
                id="{{ form.city.id_for_label }}"
                class="form-control shadow-none rounded-5"
                value="{% if address_id %}{{ form.city.value }}{% endif %}"
                placeholder="Ville"
                required
              />
              <div class="invalid-feedback">
                Veuillez fournir une ville valide.
              </div>
            </div>
          </div>

          <div class="d-flex flex-row align-items-center mb-4">
            <label for="{{ form.address.id_for_label }}">
              <i class="fas fa-mail-bulk fa-lg me-3 fa-fw"></i>
            </label>
            <div class="form-outline flex-fill mb-0">
              <input
                type="{{ form.postal_code.field.widget.input_type }}"
                name="{{ form.postal_code.html_name }}"
                id="{{ form.postal_code.id_for_label }}"
                class="form-control shadow-none rounded-5"
                value="{% if address_id %}{{ form.postal_code.value }}{% endif %}"
                placeholder="Code Postal (facultatif)"
              />
              <div class="invalid-feedback">
                Veuillez fournir un code postal valide.
              </div>
            </div>
          </div>
          <button
            type="submit"
            class="btn btn-primary rounded-5 shadow-none w-100"
          >
            {% if address_id %}Mettre à jour{% else %}Ajouter{% endif %}
          </button>
          {% if address_id %}
          <button
            type="submit"
            name="delete"
            class="btn btn-pink rounded-5 shadow-none w-100 mt-1"
          >
            Supprimer
          </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const form = document.querySelector("form.needs-validation");

    // Validation plus souple
    const addressRegex = /^.{4,}$/; // Au moins 5 caractères
    const cityRegex = /^[a-zA-ZÀ-ÿ\s-]{2,}$/; // Lettres, accents, espaces, tirets, min 2 caractères
    const postalCodeRegex = /^\d{3,7}$/; // Entre 3 et 7 chiffres

    form.addEventListener("input", function (event) {
      const inputElement = event.target;
      
      if (inputElement.name === "{{ form.address.html_name }}") {
        if (inputElement.value.length >= 5) {
          inputElement.classList.remove("is-invalid");
          inputElement.classList.add("is-valid");
        } else {
          inputElement.classList.remove("is-valid");
          inputElement.classList.add("is-invalid");
        }
      } else if (inputElement.name === "{{ form.city.html_name }}") {
        if (cityRegex.test(inputElement.value)) {
          inputElement.classList.remove("is-invalid");
          inputElement.classList.add("is-valid");
        } else {
          inputElement.classList.remove("is-valid");
          inputElement.classList.add("is-invalid");
        }
      } else if (inputElement.name === "{{ form.postal_code.html_name }}") {
        // Code postal facultatif
        if (inputElement.value === '' || postalCodeRegex.test(inputElement.value)) {
          inputElement.classList.remove("is-invalid");
          inputElement.classList.add("is-valid");
        } else {
          inputElement.classList.remove("is-valid");
          inputElement.classList.add("is-invalid");
        }
      }
    });

    form.addEventListener("submit", function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add("was-validated");
    });
  });
</script>

{% endblock %}
