{% extends 'base.html' %}
{% load static %}
{% block title %}| Mot de passe modifié{% endblock %}
{% block meta %}
<meta name="robots" content="index, nofollow">
<meta name="description" content="Votre mot de passe a été modifié avec succès. Vous pouvez maintenant accéder à votre compte avec votre nouveau mot de passe.">

<!-- Carte Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RoyalComputerStore">
<meta name="twitter:title" content="Mot de passe modifié">
<meta name="twitter:description" content="Votre mot de passe a été modifié avec succès. Vous pouvez maintenant accéder à votre compte avec votre nouveau mot de passe.">
<meta name="twitter:image" content="{% static 'images/rc-logo.png' %}">

<!-- Facebook (Open Graph) -->
<meta property="og:title" content="Mot de passe modifié">
<meta property="og:description" content="Votre mot de passe a été modifié avec succès. Vous pouvez maintenant accéder à votre compte avec votre nouveau mot de passe.">
<meta property="og:image" content="{% static 'images/rc-logo.png' %}">  
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <div class="card shadow-lg">
                    <div class="card-body">
                        <h2>Votre mot de passe a été modifié avec succès !</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
