{% extends 'base.html' %}
{% load static %}
{% block title %}| À propos{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="description" content="Découvrez l'histoire, la mission et les valeurs de Royal Computer. Rencontrez notre équipe dévouée et apprenez-en plus sur notre engagement envers l'excellence et la satisfaction client.">

<!-- Carte Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RoyalComputerStore">
<meta name="twitter:title" content="À propos">
<meta name="twitter:description" content="Découvrez l'histoire, la mission et les valeurs de Royal Computer. Rencontrez notre équipe dévouée et apprenez-en plus sur notre engagement envers l'excellence et la satisfaction client.">
<meta name="twitter:image" content="{% static 'images/rc-logo.png' %}">

<!-- Facebook (Open Graph) -->
<meta property="og:title" content="À propos">
<meta property="og:description" content="Découvrez l'histoire, la mission et les valeurs de Royal Computer. Rencontrez notre équipe dévouée et apprenez-en plus sur notre engagement envers l'excellence et la satisfaction client.">
<meta property="og:image" content="{% static 'images/rc-logo.png' %}">
{% endblock %}

{% block content %}
<div class="banner text-center bg-secondary p-5">
    <div class="banner-content d-flex justify-content-center align-items-center">
      <h1 class="text-bold display-4"> <i class="fa-solid fa-bars-staggered"></i> À propos</h1>
    </div>
</div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Notre Histoire</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Fondée en 2010, E-Shop Pro est devenue l'une des principales plateformes de commerce électronique, offrant une expérience d'achat en ligne exceptionnelle.</p>
        </div>
        <div class="col-md-6">
            <h3>Notre Mission</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Notre mission est de simplifier le shopping en ligne en proposant une large gamme de produits de qualité à des prix compétitifs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Notre Vision</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Nous aspirons à être le choix numéro un des acheteurs en ligne à la recherche de produits de qualité et d'une expérience de magasinage exceptionnelle.</p>
        </div>
        <div class="col-md-6">
            <h3>Nos Valeurs</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Nos valeurs fondamentales sont l'intégrité, l'excellence et la satisfaction du client.</p>
        </div>
    </div>
</div>
<!-- Notre Équipe -->
<section id="notre-equipe">
    <div class="container mt-5">
        <h2 class="text-center text-bold">Notre Équipe</h2>
        <div class="underline mx-auto mb-5"></div>
        <div class="row justify-content-center">
            <div class="card p-0 text-center align-items-center rounded-5 col-md-4 overflow-hidden">
                <div class="team-member">
                    <img class="w-100" src="{% static 'images/team/amour.png' %}" alt="Membre de l'équipe">
                    <h3>Amour Dossou-Yovo</h3>
                    <p>PDG</p>
                    <a href="#" class="m-2 text-primary text-decoration-none" target="_blank"><i class="fab fa-facebook"></i> 
                    <a href="#" class="m-2 text-dark text-decoration-none" target="_blank"><i class="fa fa-envelope"></i>  
                    <a href="#" class="m-2 text-success text-decoration-none" target="_blank"><i class="fab fa-square-whatsapp"></i> 
                </div>
            </div>
            <!-- Ajoutez d'autres membres de l'équipe selon les besoins -->
        </div>
    </div>
</section>
{% endblock %}
