{% extends 'base.html' %} {% load static %} {% block content %}
<div class="banner text-center bg-secondary p-5">
    <h1>A propos</h1>
</div>

  <div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h3>Notre Histoire</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Fondée en 2010, E-Shop Pro est devenue l'une des principales plateformes de commerce électronique, offrant une expérience d'achat en ligne exceptionnelle.</p>
        </div>
        <div class="col-md-6">
            <h3>Notre Mission</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Notre mission est de simplifier le shopping en ligne en proposant une large gamme de produits de qualité à des prix compétitifs.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3>Notre Vision</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Nous aspirons à être le choix numéro un des acheteurs en ligne à la recherche de produits de qualité et d'une expérience de magasinage exceptionnelle.</p>
        </div>
        <div class="col-md-6">
            <h3>Nos Valeurs</h3>
            <div class="underline mx-1 mb-3"></div>
            <p>Nos valeurs fondamentales sont l'intégrité, l'excellence et la satisfaction du client.</p>
        </div>
    </div>
</div>
<!-- Notre Équipe -->
<section id="our-team">
    <div class="container mt-5">
        <h2 class="text-center text-bold">Notre Équipe</h2>
        <div class="underline mx-auto mb-5"></div>
        <div class="row">
            <div class="card p-0 text-center align-items-center rounded-5 col-md-4">
                <div class="team-member">
                    <img class="w-100" src="https://z-m-scontent.fcoo1-2.fna.fbcdn.net/v/t1.18169-9/12313644_903797413031677_4964548900959852955_n.jpg?stp=cp0_dst-jpg_e15_p403x403_q65&_nc_cat=105&ccb=1-7&_nc_sid=947906&efg=eyJpIjoibyJ9&_nc_eui2=AeG5E63XldzPVGzcfKjPGRnF72hg1WWnT27vaGDVZadPbsc7sVq4s11s40AzVXAMGqdaI491t5wONU3Ot_RccERR&_nc_ohc=MGLNyIfA5Z4AX98nuf4&_nc_ad=z-m&_nc_cid=1398&_nc_eh=70a3c8fcdb6f2ba202656bd4d34446e7&_nc_rml=0&_nc_ht=z-m-scontent.fcoo1-2.fna&oh=00_AfBFHprpzMGpY-DZeoYJWIth4afvrB4mReYb1sHhVTy6FQ&oe=6552A315" alt="Membre de l'équipe 2">
                    <h3>Amour Dossou-Yovo</h3>
                    <p>PDG</p>
                    <a href="#" class="m-2" target="_blank"><i class="fab fa-facebook"></i> 
                    <a href="#" class="m-2" target="_blank"><i class="fab fa-twitter"></i>  
                    <a href="#" class="m-2" target="_blank"><i class="fab fa-linkedin"></i> 
                </div>
            </div>
            <!-- Ajoutez d'autres membres de l'équipe ici au besoin -->
        </div>
    </div>
</section>
{% endblock %}
