{% extends "base.html" %}

{% block content %}
<section class="ftco-section">
    <div class="banner text-center bg-secondary p-5 mb-3">
        <h1>Contact</h1>
    </div>
    <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-12 mx-5">
                <div class="row no-gutters mb-5">
                    <div class="col-md-7">
                        <div class="contact-wrap w-100 p-md-5 p-4">
                            <form method="POST" id="contactForm" name="contactForm" class="contactForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-5 rounded-5 shadow-none border-none contact-form" name="name" id="name" placeholder="Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control mb-5 rounded-5 shadow-none border-none contact-form" name="email" id="email" placeholder="Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control mb-5 rounded-5 shadow-none border-none contact-form" name="subject" id="subject" placeholder="Subject">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <textarea name="message" class="form-control mb-5 rounded-5 shadow-none border-none contact-form" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="submit" value="Send Message" class="btn btn-primary w-100 mt-4 rounded-5">
                                            <div class="submitting"></div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-5 align-items-stretch">
                        <div id="map" class="p-4">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.1714564748054!2d2.3516145796664483!3d6.371852677163722!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1023571947d70899%3A0x3627ba3689f575ef!2sRoyal%20Computer!5e0!3m2!1sfr!2sbj!4v1698663029747!5m2!1sfr!2sbj" width="100% border-none" style="aspect-ratio:1;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon bg-primary p-4 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2" style="width:50px; height:50px; aspect-ratio:1;">
                                <span class="fa fa-map-marker text-white"></span>
                            </div>
                            <div class="text text d-flex">
                                <p class="mx-auto">Agla En Face pharmacie luli luli, Cotonou, Bénin</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon bg-primary p-4 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2" style="width:50px; height:50px; aspect-ratio:1;">
                                <span class="fa fa-phone text-white"></span>
                            </div>
                            <div class="text text d-flex">
                                <p class="mx-auto"><a class="text-decoration-none" href="tel://+22956543880">+22956543880</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class "dbox w-100 text-center">
                            <div class="icon bg-primary p-4 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2" style="width:50px; height:50px; aspect-ratio:1;">
                                <span class="fa fa-paper-plane text-white"></span>
                            </div>
                            <div class="text d-flex">
                                <p class="mx-auto"><a class="text-decoration-none" href="mailto:david1anato@gmail.com">david1anato@gmail.com</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dbox w-100 text-center">
                            <div class="icon bg-primary p-4 rounded-circle d-flex align-items-center justify-content-center mx-auto mb-2" style="width:50px; height:50px; aspect-ratio:1;">
                                <span class="fa fa-globe text-white"></span>
                            </div>
                            <div class="text text d-flex">
                                <p class="mx-auto"><a class="text-decoration-none" href="#">royalcomputer.com</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
