{% extends 'base.html' %}
{% load static %}

{% block title %}| Accueil{% endblock %}

{% block meta %}
<meta name="robots" content="index, follow">
<meta name="description" content="Découvrez notre sélection de produits informatiques de qualité. Ordinateurs, smartphones, accessoires et plus encore. Livraison rapide et service client exceptionnel.">

<!-- Carte Twitter -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@RoyalComputerStore">
<meta name="twitter:title" content="Accueil">
<meta name="twitter:description" content="Découvrez notre sélection de produits informatiques de qualité. Ordinateurs, smartphones, accessoires et plus encore. Livraison rapide et service client exceptionnel.">
<meta name="twitter:image" content="{% static 'images/rc-logo.png' %}">

<!-- Facebook (Open Graph) -->
<meta property="og:title" content="Accueil">
<meta property="og:description" content="Découvrez notre sélection de produits informatiques de qualité. Ordinateurs, smartphones, accessoires et plus encore. Livraison rapide et service client exceptionnel.">
<meta property="og:image" content="{% static 'images/rc-logo.png' %}">
{% endblock %}

{% block content %}
<!-- PRODUIT VEDETTE -->
<div id="vedette-carousel" class="carousel slide d-none d-md-block" data-bs-ride="carousel">
  <div class="carousel-inner">
    {% for product in vedettes_products %}
    <div class="carousel-item {% if forloop.first %}active{% endif %}">
      <div class="container-fluid pt-5 text-white">
        <div class="container">
          <div class="align-items-center row carousel-height">
            <div class="row justify-content-between mx-lg-5">
              <div class="col-md-6 mb-4">
                <h1 class="display-4">{{ product.name }}</h1>
                <p class="lead">{{ product.description }}</p>
                <p class="product-price text-pink text-bold fs-3">
                  {% if product.in_promo %}
                  <span class="text-decoration-line-through text-light me-1">
                    {{ product.price|floatformat:0 }} F CFA
                  </span>
                  {{ product.promo_price|floatformat:0 }} F CFA {% else %} {{ product.price|floatformat:0 }}
                  F CFA {% endif %}
                </p>
                <a
                  href="https://wa.me/+22956543880?text=Je souhaite acheter ce produit {{product.name}} - {{product.description}}. {{product.image.url}}"
                  class="btn btn-lg btn-gradient rounded-5"
                >
                  <i class="fab fa-whatsapp me-2"></i> Acheter maintenant
                </a>
              </div>
              <div
                class="col-md-6 d-flex justify-content-lg-end align-items-center h-100"
              >
                <a href="{% url 'product_detail' product.pk %}">
                  <img
                    src="{{ product.image.url }}"
                    alt="{{ product.name }}"
                    class="img-fluid mb-5"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Contrôles du Carrousel -->
  <button
    class="carousel-control carousel-control-prev text-white"
    type="button"
    data-bs-target="#vedette-carousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon visually-hidden"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button
    class="carousel-control carousel-control-next text-white"
    type="button"
    data-bs-target="#vedette-carousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon visually-hidden"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>


<div id="vedette-carousel" class="carousel slide d-block d-md-none" data-bs-ride="carousel">
  
  <!-- Indicateurs -->
  <div class="carousel-indicators">
    {% for product in vedettes_products %}
    <button 
      type="button" 
      data-bs-target="#vedette-carousel" 
      data-bs-slide-to="{{ forloop.counter0 }}" 
      class="{% if forloop.first %}active{% endif %}" 
      aria-current="{% if forloop.first %}true{% endif %}" 
      aria-label="Diapositive {{ forloop.counter }}">
    </button>
    {% endfor %}
  </div>

  <!-- Diapositives -->
  <div class="carousel-inner home-banner">
    {% for product in vedettes_products %}
    <div class="carousel-item home-banner-content {% if forloop.first %}active{% endif %}">
      <div class="container-fluid m-0 px-0 text-white pt-5">
        <div class="row carousel-height">
          <!-- Colonne avec l'image en haut -->
          <div class="col-md-12 d-flex justify-content-center">
            <a href="{% url 'product_detail' product.pk %}">
              <img
                src="{{ product.image.url }}"
                alt="{{ product.name }}"
                class="img-fluid mb-5"
              />
            </a>
          </div>
          <!-- Colonne avec texte en bas, dans une div semi-transparente -->
          <div class="col-md-12 text-center mx-0 pt-3 pb-5 bg-dark text-white pb-4 opacity-75">
            <h1 class="display-6">{{ product.name }}</h1>
            <p class="lead fs-6">{{ product.description }}</p>
            <p class="product-price text-pink text-bold fs-3">
              {% if product.in_promo %}
              <span class="text-decoration-line-through text-light me-1">
                {{ product.price|floatformat:0 }} F CFA
              </span>
              {{ product.promo_price|floatformat:0 }} F CFA 
              {% else %}
              {{ product.price|floatformat:0 }} F CFA 
              {% endif %}
            </p>
            <a
              href="https://wa.me/+22956543880?text=Je souhaite acheter ce produit {{product.name}} - {{product.description}}. {{product.image.url}}"
              class="btn btn-lg btn-gradient rounded-5"
            >
              <i class="fab fa-whatsapp me-2"></i> Acheter maintenant
            </a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <!-- Contrôles du Carrousel -->
  <button
    class="carousel-control carousel-control-prev text-white"
    type="button"
    data-bs-target="#vedette-carousel"
    data-bs-slide="prev"
  >
    <span
      class="carousel-control-prev-icon visually-hidden"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Précédent</span>
  </button>
  <button
    class="carousel-control carousel-control-next text-white"
    type="button"
    data-bs-target="#vedette-carousel"
    data-bs-slide="next"
  >
    <span
      class="carousel-control-next-icon visually-hidden"
      aria-hidden="true"
    ></span>
    <span class="visually-hidden">Suivant</span>
  </button>
</div>

<!-- NOUVEAUX PRODUITS -->
<div class="container-fluid mt-2">
  <h2 class="mt-5 text-center text-bold">NOUVEAUTÉS</h2>
  <div class="underline mx-auto mb-5"></div>
  
  <!-- Conteneur flex pour aligner les boutons et le produit -->
  <div class="d-flex justify-content-between align-items-center mx-lg-5">
    <!-- Bouton précédent -->
    <button
      id="prevBtnNewProducts"
      class="scroll-left-button btn btn-light rounded-5 prev-button d-none d-lg-block"
    >
      <i class="fa fa-angle-left fs-2 text-dark"></i>
    </button>

    <!-- Conteneur des produits -->
    <div class="container">
      <div class="overflow-x-auto product-container-new w-100 me-0 d-flex">
        {% for product in new_products %}
        <div class="product col-12 col-sm-6 col-md-4 col-lg-3 me-3">
          <div class="single-product-wrapper">
            <div
              class="product-img w-100 bg-secondary"
              style="background: url('{{ product.image.url }}') no-repeat center; background-size: 90%; aspect-ratio: 1;"
            >
              <div class="d-flex justify-content-between w-100">
                <span class="bg-primary small p-1 m-3 text-bold text-white rounded-5">Nouveau</span>
                {% if product.in_promo %}
                <span class="bg-pink small p-1 m-3 text-bold text-white rounded-5">Promo</span>
                {% endif %}
              </div>
            </div>
          </div>
          <div class="single-product-wrapper-hover d-none">
            <a
              href="{% url 'product_detail' product.pk %}"
              class="product-img w-100 bg-secondary d-flex flex-column text-decoration-none product-img-secondary"
              style="background: url('{{ product.image_secondary.url }}') no-repeat center; background-size: 90%; aspect-ratio: 1;"
            >
              <div class="d-flex justify-content-between w-100">
                <span class="bg-primary small p-1 m-3 text-bold text-white rounded-5">Nouveau</span>
                {% if product.in_promo %}
                <span class="bg-pink small p-1 m-3 text-bold text-white rounded-5">Promo</span>
                {% endif %}
              </div>
              {% if product.id in products_in_cart %}
              <form
                action="{% url 'cart' %}"
                class="mt-auto mb-3 mx-3 add-to-cart-btn rounded-5 p-0"
              >
                <button type="submit" class="btn w-100 text-bold text-white"> <i class="fa fa-shopping-cart me-2"></i> Voir le panier</button>
              </form>
              {% else %}
              <form
                action="{% url 'add_to_cart' product.id %}"
                method="get"
                class="mt-auto mb-3 mx-3 add-to-cart-btn rounded-5 p-0"
              >
                <button type="submit" class="btn w-100 text-bold text-white"> <i class="fa fa-cart-plus me-2"></i> Ajouter au panier</button>
              </form>
              {% endif %}
            </a>
          </div>
          <div class="product-description mt-4">
            <span class="small text-bold">{{ product.brand }}</span>
            <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none">
              <h5 class="product-name">{{ product.name }}</h5>
            </a>
            {% if product.in_promo %}
            <p class="product-price text-pink text-bold">
              <span class="text-decoration-line-through text-secondary me-5">{{ product.price|floatformat:0 }} F CFA</span>
              {{ product.promo_price|floatformat:0 }} F CFA
            </p>
            {% else %}
            <p class="product-price text-pink text-bold">{{ product.price|floatformat:0 }} F CFA</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Bouton suivant -->
    <button
      id="nextBtnNewProducts"
      class="scroll-right-button btn btn-light rounded-5 next-button d-none d-lg-block"
    >
      <i class="fa fa-angle-right fs-2 text-dark"></i>
    </button>
  </div>
</div>

<!-- SERVICES -->
<div class="container mt-5">
  <div class="row border border-white shadow m-4 pt-3">
    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
      <div class="p-3">
        <i class="fas fa-desktop fa-2x mb-3"></i>
        <h6 class="text-bold">Vente d'ordinateurs</h6>
        <p>Achetez des ordinateurs de haute qualité</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
      <div class="p-3">
        <i class="fas fa-microchip fa-2x mb-3"></i>
        <h6 class="text-bold">Vente de matériel informatique</h6>
        <p>Trouvez les composants dont vous avez besoin</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
      <div class="p-3">
        <i class="fas fa-wrench fa-2x mb-3"></i>
        <h6 class="text-bold">Maintenance</h6>
        <p>Services de réparation et d'entretien</p>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-sm-6 text-center">
      <div class="p-3">
        <i class="fas fa-download fa-2x mb-3"></i>
        <h6 class="text-bold">Installation de logiciels</h6>
        <p>Obtenez de l'aide pour l'installation de vos logiciels</p>
      </div>
    </div>
  </div>
</div>

<!-- PRODUITS EN PROMOTION -->
<div class="container-fluid mt-2">
  <h2 class="mt-5 text-center text-bold">PRODUITS EN PROMOTION</h2>
  <div class="underline mx-auto mb-5"></div>
  
  <!-- Conteneur flex pour aligner les boutons et le produit -->
  <div class="d-flex justify-content-between align-items-center mx-lg-5">
    <!-- Bouton précédent -->
    <button
      id="prevBtnPromoProducts"
      class="scroll-left-button btn btn-light rounded-5 prev-button d-none d-lg-block"
    >
      <i class="fa fa-angle-left fs-2 text-dark"></i>
    </button>

    <!-- Conteneur des produits -->
    <div class="container">
      <div class="overflow-x-auto product-container-promo w-100 me-0 d-flex">
        {% for product in promo_products %}
        <div class="product col-12 col-sm-6 col-md-4 col-lg-3 me-3">
          <div class="single-product-wrapper">
            <div
              class="product-img w-100 bg-secondary"
              style="background: url('{{ product.image.url }}') no-repeat center; background-size: 90%; aspect-ratio: 1;"
            >
              <div class="d-flex justify-content-between w-100">
                {% if product.is_new %}
                <span class="bg-primary small p-1 m-3 text-bold text-white rounded-5">Nouveau</span>
                {% endif %}
                <span class="bg-pink small p-1 m-3 text-bold text-white rounded-5">Promo</span>
              </div>
            </div>
          </div>
          <div class="single-product-wrapper-hover d-none">
            <a
              href="{% url 'product_detail' product.pk %}"
              class="product-img w-100 bg-secondary d-flex flex-column text-decoration-none product-img-secondary"
              style="background: url('{{ product.image_secondary.url }}') no-repeat center; background-size: 90%; aspect-ratio: 1;"
            >
              <div class="d-flex justify-content-between w-100">
                {% if product.is_new %}
                <span class="bg-primary small p-1 m-3 text-bold text-white rounded-5">Nouveau</span>
                {% endif %}
                <span class="bg-pink small p-1 m-3 text-bold text-white rounded-5">Promo</span>
              </div>
              {% if product.id in products_in_cart %}
              <form
                action="{% url 'cart' %}"
                class="mt-auto mb-3 mx-3 add-to-cart-btn rounded-5 p-0"
              >
                <button type="submit" class="btn w-100 text-bold text-white"> <i class="fa fa-shopping-cart me-2"></i> Voir le panier</button>
              </form>
              {% else %}
              <form
                action="{% url 'add_to_cart' product.id %}"
                method="get"
                class="mt-auto mb-3 mx-3 add-to-cart-btn rounded-5 p-0"
              >
                <button type="submit" class="btn w-100 text-bold text-white"> <i class="fa fa-cart-plus me-2"></i> Ajouter au panier</button>
              </form>
              {% endif %}
            </a>
          </div>
          <div class="product-description mt-4">
            <span class="small text-bold">{{ product.brand }}</span>
            <a href="{% url 'product_detail' product.pk %}" class="text-decoration-none">
              <h5 class="product-name">{{ product.name }}</h5>
            </a>
            {% if product.in_promo %}
            <p class="product-price text-pink text-bold">
              <span class="text-decoration-line-through text-secondary me-5">{{ product.price|floatformat:0 }} F CFA</span>
              {{ product.promo_price|floatformat:0 }} F CFA
            </p>
            {% else %}
            <p class="product-price text-pink text-bold">{{ product.price|floatformat:0 }} F CFA</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>

    <!-- Bouton suivant -->
    <button
      id="nextBtnPromoProducts"
      class="scroll-right-button btn btn-light rounded-5 next-button d-none d-lg-block"
    >
      <i class="fa fa-angle-right fs-2 text-dark"></i>
    </button>
  </div>
</div>

<!-- TECHNOLOGIE PREMIUM -->
<div
  class="bg-light d-flex flex-column flex-lg-row align-items-stretch mt-5"
  id="two-up"
  role="navigation"
  aria-label="TECHNOLOGIE PREMIUM"
>
  <div class="col mb-4 m-0 px-lg-4 py-3 px-3">
    <div class="text-center d-flex flex-column">
      <h2 class="text-bold text-pink small mt-0 mb-2">TECHNOLOGIE PREMIUM</h2>
      <div>
        <figure class="aspect-ratio-box">
          <img
            src="{% static 'images/dell1.png'%}"
            style="height: 300px"
            alt="TECHNOLOGIE PREMIUM"
            class="m-2 img-2up img-fluid"
          />
        </figure>
      </div>
      <div class="order-1 order-lg-2 twoup-links">
        <h3 class="h5 font-weight-normal mt-0 pb-3">
          Achetez des PC et des accessoires haute performance
        </h3>
        <div class="sect-link-wrap order-link-wrap"></div>
      </div>
    </div>
  </div>
  <div class="col mb-4 m-0 py-3 px-3 px-lg-4 left-section">
    <div class="text-center d-flex flex-column">
      <h2 class="text-bold text-pink small mt-0 mb-2">TECHNOLOGIE PREMIUM</h2>
      <div>
        <figure class="aspect-ratio-box">
          <img
            src="{% static 'images/telephone.png'%}"
            style="height: 300px"
            alt="TECHNOLOGIE PREMIUM"
            class="m-2 img-2up img-fluid"
          />
        </figure>
      </div>
      <div class="order-1 order-lg-2 twoup-links">
        <h3 class="h5 font-weight-normal mt-0 pb-3">
          Faites-en plus avec une technologie d'exception
        </h3>
        <div class="sect-link-wrap order-link-wrap"></div>
      </div>
    </div>
  </div>
</div>

<div class="p-5 d-none d-md-block mt-0">
  <h2 class="mt-5 text-center text-bold">AUTRES PRODUITS</h2>
  <div class="underline mx-auto mb-5"></div>
  <div class="row">
    <a
      href="{% url 'shop' %}?keyword=jeu"
      class="a-md col-md-3 text-center align-items-center text-decoration-none"
      ><img
        src="/static/images/Gaming.png"
        style="max-width: 180px; aspect-ratio: 1"
        alt="Gaming"
      />
      <hr />
      <h4>Gaming</h4>
      <p class="text-pink">Console, Manette, PC Gamer, etc.</p>
    </a>
    <a
      href="{% url 'shop' %}?keyword=Smartphone"
      class="a-md col-md-3 text-center align-items-center text-decoration-none"
      ><img
        src="/static/images/Telephone.png"
        style="max-width: 180px; aspect-ratio: 1"
        alt="Stockage"
      />
      <hr />
      <h4>Smartphones</h4>
      <p class="text-pink">iPhone, Samsung, etc.</p>
    </a>
    <a
      href="{% url 'shop' %}?keyword=Accessoire"
      class="a-md col-md-3 text-center align-items-center text-decoration-none"
      ><img
        src="/static/images/Accessoires.png"
        style="max-width: 180px; aspect-ratio: 1"
        alt="Accessoire"
      />
      <hr />
      <h4>Accessoires</h4>
      <p class="text-pink">Souris, Clavier, Écouteurs</p>
    </a>
    <a
      href="{% url 'shop' %}?keyword=Autre"
      class="a-md col-md-3 text-center align-items-center text-decoration-none"
      ><img
        src="/static/images/Autres.png"
        style="max-width: 180px; aspect-ratio: 1"
        alt="Sac"
      />
      <hr />
      <h4>Autres</h4>
      <p class="text-pink">Sac PC, Support PC, etc.</p>
    </a>
  </div>
</div>

<!-- Témoignages clients -->
<div
  class="py-5 mb-0"
  style="
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      ),
      url('/static/images/fond.jpg') center no-repeat;
    background-size: cover;
    position: relative;
  "
>
  <div class="review-background-image"></div>
  <div class="container">
    <h2 class="text-center text-bold mb-5">TÉMOIGNAGES CLIENTS</h2>
    <div class="underline mx-auto mb-5"></div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <!-- Carrousel -->
        <div
          id="carouselExample"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <!-- Contenu -->
          <div class="carousel-inner">
            <!-- Premier témoignage -->
            <div class="carousel-item active">
              <p class="lead font-italic mx-4 mx-md-5 text-center">
                "J'ai acheté mon ordinateur portable chez Royal Computer et je suis très satisfait. Le service client est excellent et ils m'ont aidé à choisir le meilleur modèle pour mes besoins. La livraison était rapide et le produit est de très bonne qualité."
              </p>
              <div
                class="d-flex justify-content-center align-items-center mt-5 mb-4"
              >
                <img
                  src="https://randomuser.me/api/portraits/men/45.jpg"
                  class="rounded-circle img-fluid shadow-1-strong"
                  alt="Client 1"
                  width="100"
                  height="100"
                />
              </div>
              <p class="text-muted-white mb-0 text-center">- Koffi Mensah</p>
            </div>

            <!-- Deuxième témoignage -->
            <div class="carousel-item">
              <p class="lead font-italic mx-4 mx-md-5 text-center">
                "Royal Computer offre vraiment des produits de qualité. J'ai acheté un smartphone et des accessoires, et je suis impressionnée par leur professionnalisme. Les prix sont compétitifs et le service après-vente est très réactif."
              </p>
              <div
                class="d-flex justify-content-center align-items-center mt-5 mb-4"
              >
                <img
                  src="https://randomuser.me/api/portraits/women/32.jpg"
                  class="rounded-circle img-fluid shadow-1-strong"
                  alt="Client 2"
                  width="100"
                  height="100"
                />
              </div>
              <p class="text-muted-white mb-0 text-center">- Afiavi Dossou</p>
            </div>

            <!-- Troisième témoignage -->
            <div class="carousel-item">
              <p class="lead font-italic mx-4 mx-md-5 text-center">
                "Je recommande vivement Royal Computer pour leur expertise et leur service client exceptionnel. Ils m'ont fourni exactement ce dont j'avais besoin pour mon entreprise et ont même assuré l'installation. Une équipe vraiment professionnelle !"
              </p>
              <div
                class="d-flex justify-content-center align-items-center mt-5 mb-4"
              >
                <img
                  src="https://randomuser.me/api/portraits/men/22.jpg"
                  class="rounded-circle img-fluid shadow-1-strong"
                  alt="Client 3"
                  width="100"
                  height="100"
                />
              </div>
              <p class="text-muted-white mb-0 text-center">- Codjo Agbossou</p>
            </div>
          </div>
          <!-- Contenu -->

          <!-- Contrôles -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Précédent</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Suivant</span>
          </button>
        </div>
        <!-- Carrousel -->
      </div>
    </div>
  </div>
</div>

<!-- Partenaires -->
<div class="brand-area section_gap mb-5 pt-3 pb-5 mt-0 bg-light">
  <h2 class="mt-5 text-center text-bold">NOS PARTENAIRES</h2>
  <div class="underline mx-auto mb-5"></div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col single-img">
        <a href="#">
          <img
            class="img-fluid d-block mx-auto grayscale-img"
            src="https://th.bing.com/th/id/R.e488777d759169c74b74aa95f07adbed?rik=VWCMNP%2fO1MdzWQ&riu=http%3a%2f%2fwww.carlogos.org%2flogo%2fTesla-logo-2003-2500x2500.png&ehk=JNBLiptu%2fRFyW%2fKfTZ0WnRm0dTAAOD2QoMqcnnk71e0%3d&risl=&pid=ImgRaw&r=0"
            alt="Logo Entreprise 1"
          />
        </a>
      </div>
      <div class="col single-img">
        <a href="#">
          <img
            class="img-fluid d-block mx-auto grayscale-img"
            src="https://th.bing.com/th/id/R.66dacd13d1a786cad40e9197159da06a?rik=6q8PoTr4wsCZCg&pid=ImgRaw&r=0"
            alt="Logo Entreprise 2"
          />
        </a>
      </div>
      <div class="col single-img">
        <a href="#">
          <img
            class="img-fluid d-block mx-auto grayscale-img"
            src="https://th.bing.com/th/id/R.a952e04333ddd31247033cc59ed3ddd7?rik=oUh7X1%2btgpqJQw&pid=ImgRaw&r=0"
            alt="Logo Entreprise 3"
          />
        </a>
      </div>
      <div class="col single-img">
        <a href="#">
          <img
            class="img-fluid d-block mx-auto grayscale-img"
            src="https://th.bing.com/th/id/R.3d6a2ad56bc3403c5cfcc3efe09b741b?rik=gnNKMMZSvZ3uMA&riu=http%3a%2f%2fpurepng.com%2fpublic%2fuploads%2flarge%2fpurepng.com-microsoft-logo-iconlogobrand-logoiconslogos-251519939091wmudn.png&ehk=1%2fl4i5MeDLTCpvZhUZlCefvhSzsGR16HIPqagpDxYDg%3d&risl=&pid=ImgRaw&r=0"
            alt="Logo Entreprise 4"
          />
        </a>
      </div>
      <div class="col single-img">
        <a href="#">
          <img
            class="img-fluid d-block mx-auto grayscale-img"
            src="https://th.bing.com/th/id/R.490a3dd52afa17904bdde9a526ccd24f?rik=IIVlrtBkXijLgA&riu=http%3a%2f%2fpluspng.com%2fimg-png%2fdell-logo-png-open-2000.png&ehk=kKUxsmeoQgHMs5o9%2bh4%2fVqUYW6xj2uH0K7yp9bz1aKg%3d&risl=&pid=ImgRaw&r=0"
            alt="Logo Entreprise 5"
          />
        </a>
      </div>
    </div>
  </div>
</div>

<!-- Articles -->
<div class="container mt-3">
  <h2 class="mt-5 text-center text-bold">ARTICLES</h2>
  <div class="underline mx-auto mb-5"></div>

  <div class="row">
    {% for post in latest_posts %}
    <div class="col-sm-6 col-md-3">
      <!-- Blog post -->
      <div class="card mb-4 rounded-5">
          <a href="{% url 'post_detail' post.slug %}">
              <img class="card-img-top rounded-top-5" src="{{ post.image.url }}" alt="{{ post.title }}" />
          </a>
          <div class="card-body">
              <div class="row">
                  <div class="small text-muted text-end">{{ post.published_date|date }}</div>
              </div>
              <h2 class="card-title text-bold h6">{{ post.title }}</h2>
              <p class="card-text small text-muted text-justify">{{ post.content|slice:":80" }}...</p>
              <a class="btn btn-primary rounded-5 border-0 pe-4 w-100 btn-rm" href="{% url 'post_detail' post.slug %}">
                  Lire la suite
                  <span class="flech mx-1"> <i class="fas fa-angle-right"></i> </span>
              </a>
          </div>
      </div>
    </div>
{% endfor %}
  </div>
</div>

{% endblock %}
